<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Horario</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Clases</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="n, i : ${listaClase}">
        <td th:text="${listaClase[i.index]}"></td>

    </tr>
    </tbody>
</table>

<div>
        <form action="/horario/index" method="post">
            <label for="nombreclase">Consulta: </label>
            <input type="text" id="nombreclase" name="nombreclase" required>
            <input type="submit" value="Buscar">
            <input type="reset" value="Limpiar">
        </form>
</div>
</body>
</html>