<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rutina</title>
</head>
<body>

<a th:href="@{dieta/dietauno}"><input onClick="#" type="button" value="Dia 1" name="boton" style="BORDER: rgb(128,128,128) 1px solid; FONT-SIZE: 18pt; FONT-FAMILY:Times New Roman;
         BACKGROUND-COLOR: rgb(229,233,233)"></a>
<a th:href="@{dieta/dietados}"><input onClick="#" type="button" value="Dia 2" name="boton" style="BORDER: rgb(128,128,128) 1px solid; FONT-SIZE: 18pt; FONT-FAMILY:Times New Roman;
         BACKGROUND-COLOR: rgb(229,233,233)"></a>
<a th:href="@{dieta/dietatres}"><input onClick="#" type="button" value="Dia 3" name="boton" style="BORDER: rgb(128,128,128) 1px solid; FONT-SIZE: 18pt; FONT-FAMILY:Times New Roman;
         BACKGROUND-COLOR: rgb(229,233,233)"></a>
<a th:href="@{dieta/dietacuatro}"><input onClick="#" type="button" value="Dia 4" name="boton" style="BORDER: rgb(128,128,128) 1px solid; FONT-SIZE: 18pt; FONT-FAMILY:Times New Roman;
         BACKGROUND-COLOR: rgb(229,233,233)"></a>
<a th:href="@{dieta/dietacinco}"><input onClick="#" type="button" value="Dia 5" name="boton" style="BORDER: rgb(128,128,128) 1px solid; FONT-SIZE: 18pt; FONT-FAMILY:Times New Roman;
         BACKGROUND-COLOR: rgb(229,233,233)"></a>

</body>
</html>
