<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Listado de nombres</title>
</head>
<body>
<h3>Introduzca sus datos porfavor ...</h3>
<br>
<form action="/usuario/loginn" method="post">
  <label for="username">Usuario:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Contraseña:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Enviar">
</form>

<h3 th:text="'El resultado de la consulta es: ' + ${cadenaSalida}"></h3>

</body>
</html>