<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
</head>
<body>

<table>
    <thead>
    <tr><td>Nombre</td><td>Cantidad</td><td>Precio</td></tr>
    </thead>
    <tbody>
    <tr th:each="r : ${listaCarrito}">
        <td th:text="${r.nombreproducto}"></td>
        <td th:text="${r.cantidad}"></td>
        <td th:text="${r.precio}"></td>
    </tr>
    </tbody>
</table>

    <div>
        <h3>¿Desea finalizar la compra?</h3>
        <a th:href="@{carrito/pago}" class="button">Comprar</a>
    </div>

</body>
</html>