<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tienda</title>
</head>
<body>
<h1>Tienda</h1>

<form th:action="@{/tienda/save}" method="post" th:object="${producto}">
    <input th:type="hidden" id="id" th:field="*{id}">
    <div>
        <label for="nombreproducto">Producto</label>
        <input th:type="text" id="nombreproducto" th:field="*{nombreproducto}">
    </div>
    <div>
        <label for="cantidad">Cantidad</label>
        <input th:type="number" id="cantidad" th:field="*{cantidad}">
    </div>
    <div>
        <label for="precio">Precio</label>
        <input th:type="number" id="precio" th:field="*{precio}">
    </div>
    <div>
        <input type="submit" value="Enviar">
    </div>
</form>
</body>
</html>