<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
</head>
<body>
<table>
    <thead>
    <tr><td>Nombre</td><td>Cantidad</td><td>Precios</td></tr>
    </thead>
    <tbody>
    <tr th:each="r : ${carritoAuxiliar}">
        <td th:text="${r.nombreproducto}"></td>
        <td th:text="${r.cantidad}"></td>
        <td th:text="${r.precio}"></td>
        <td> <a th:href="@{carrito/delete/{id}(id=${r.nombreproducto})}">Borrar producto</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>