<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
</head>
<body>
<table>
    <tr>
        <th>Información personal</th>
        <th></th>
    </tr>
    <tr>
        <td>Nombre de usuario:</td>
        <td th:text="${nombreAuxiliar}"></td>
    </tr>
    <tr>
        <td>Nombre:</td>
        <td th:text="${usuarioNameUse}"></td>
    </tr>
    <tr>
        <td>Nombre:</td>
        <td th:text="${carritoAuxiliar}"></td>
    </tr>
</table>

</body>
</html>