<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Carrito</h1>

<table>
    <thead>
    <tr><th>Clase</th><th>Hora</th><th></th></tr>
    </thead>
    <tbody>
    <tr th:each="r : ${clasesdelusuario}">
        <td th:text="${r.nombre}"></td>
        <td th:text="${r.hora}"></td>
        <td><a th:href="@{clase/delete/{id}(id=${r.id})}">Desapuntarse</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>