<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir producto a tienda</title>
</head>
<body>

<h2>Introduce el producto que quieres añadir a la tienda</h2>

<form th:action="@{/tienda/save}"method="post" th:object="${productonew}">
    <div>
        <label form="nombre">Nombre</label>
        <input type="text" id="nombre" th:field="*{nombre}">

    </div>
    <div>
        <label form="cantidad">Cantidad</label>
        <input type="number" id="cantidad" th:field="*{cantidad}">

    </div>
    <div>
        <label form="precio">Precio</label>
        <input type="number" id="precio" th:field="*{precio}">

    </div>
    <div>
        <input type="submit" value="ACTUALIZAR">
    </div>
</form>

</body>
</html>