<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rutina</title>
</head>
<body>

<a th:href="@{rutina/rutinauno}"><input onClick="#" type="button" value="Rutina potenciar gluteos" name="boton" style="BORDER: rgb(128,128,128) 1px solid; FONT-SIZE: 18pt; FONT-FAMILY:Times New Roman;
         BACKGROUND-COLOR: rgb(229,233,233)"></a>
<a th:href="@{rutina/rutinados}"><input onClick="#" type="button" value="Rutina potenciar pecho" name="boton" style="BORDER: rgb(128,128,128) 1px solid; FONT-SIZE: 18pt; FONT-FAMILY:Times New Roman;
         BACKGROUND-COLOR: rgb(229,233,233)"></a>

</body>
</html>