<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
      }
      th, td {
        text-align: left;
        padding: 8px;
      }
      th {
        background-color: #4CAF50;
        color: white;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      tr:hover {
        background-color: #ddd;
      }
    </style>
</head>
<body>
<div style="display: flex; justify-content: center;">
    <table>
        <thead>
        <tr>
            <th>Ejercicio</th>
            <th>Peso</th>
            <th>Repeticiones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${rutinauno}">
            <td th:text="${r.nombre}"></td>
            <td th:text="${r.peso}"></td>
            <td th:text="${r.repeticiones}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
