<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videos</title>
</head>
<body>

<h1>Mis videos</h1>


<div>
    <h2>Video 1</h2>
    <video width="320" height="240" controls>
        <source src="/img/whatsapp-video-2023-05-04-at-190652_t4niOuX3.mp4" type="video/mp4">
    </video>
</div>

<div>
    <h2>Video 2</h2>
    <video width="320" height="240" controls>
        <source src="/img/whatsapp-video-2023-05-04-at-190435_9N5XLhcj.mp4" type="video/mp4">
    </video>

</div>

<div>
    <h2>Video 3</h2>
    <video width="320" height="240" controls>
        <source src="/img/whatsapp-video-2023-05-04-at-190915_RFv7OZhR.mp4" type="video/mp4">
    </video>
    <button onclick="document.getElementsByTagName('video')[2].play()">Play</button>
</div>

<div>
    <h2>Video 4</h2>
    <video width="320" height="240" controls>
        <source src="/img/whatsapp-video-2023-05-04-at-211643_9aNh8LTm.mp4" type="video/mp4">
    </video>
    <button onclick="document.getElementsByTagName('video')[3].play()">Play</button>
</div>

</body>
</html>
